{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/scaladesk.jpg" "title" "Software with a conscience" "subtitle" "Support gender equality, morals, and values in software engineering") }}

{{ partial "short-text" (dict "heading" "Why Finally Tagless?" "text" "Use our experienced developers to get your project started right and right away. From delivering the first iteration of your product to expanding your team's capacity - we work with you to analyse and meet your needs.")}}

{{ partial "2-up" (dict "heading" "What we offer" "description" "We offer bespoke software development services specialising in big data processing, web services, and distributed computing. From bootstrapping new projects to troubleshooting existing software - our experience will help you deliver." "svg1" "img/illustrations/coffee.svg" "text1" "We sell green and roasted coffee beans that are sourced directly from independent farmers and farm cooperatives. We’re proud to offer a variety of coffee beans grown with great care for the environment and local communities. Check our post or contact us directly for current availability." "svg2" "/img/illustrations/coffee-gear.svg" "text2" "We offer a small, but carefully curated selection of brewing gear and tools for every taste and experience level. No matter if you roast your own beans or just bought your first french press, you’ll find a gadget to fall in love with in our shop." "buttonText" "See all products" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "Our values" "text" "With software taking on an ever more important role in our society it is paramount that we take responsibility as developers. Our core values reflect our dedication to our customers and our obligation for ethical conduct as developers." "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
